<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minsal.dtic.sinavec">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyMalaria"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_malaria_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".AdminDevice.DeviceAdminReceiverMalaria"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <intent-filter>
                <!-- This action is required -->
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
            <!-- This is required this receiver to become device admin component -->
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sincronizar.SettingActivity" />
        <activity
            android:name=".CRUD.Criaderos.activityCriadero.BuscarCriaderoActivity"
            android:label="Criaderos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.BuscarCriaderoSinActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CRUD.Criaderos.activityCriadero.MapaCriaderoActivity" />
        <activity
            android:name=".CRUD.Colvol.activityColvol.BuscarColvolActivity"
            android:label="Colvol"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.BuscarColvolActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CRUD.Colvol.activityColvol.MapaColvolActivity" />
        <activity
            android:name=".CRUD.capturaAnopheles.ListCapturaActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CRUD.pesquisaLarvaria.ListPesquisaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CRUD.pesquisaLarvaria.pesquisaLarvaria"
            android:label="Pesquisa Larvaria"
            android:parentActivityName=".CRUD.pesquisaLarvaria.ListPesquisaActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CRUD.Criaderos.activityCriadero.AgregarCriaderoActivity"
            android:label="Agregar Criadero"
            android:parentActivityName=".CRUD.Criaderos.activityCriadero.BuscarCriaderoActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CRUD.Criaderos.activityCriadero.BuscarCriaderoActivity" />

            <intent-filter>
                <action android:name="android.intent.action.AgregarCriaderoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUD.capturaAnopheles.CapturaAnopheles"
            android:parentActivityName=".CRUD.capturaAnopheles.ListCapturaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CRUD.capturaAnopheles.ListCapturaActivity" />

            <intent-filter>
                <action android:name="android.intent.action.CapturaAnopheles" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUD.Criaderos.activityCriadero.ActualizarCriaderoActivity"
            android:label="Actualizar Criadero"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CRUD.Criaderos.activityCriadero.ListaCriaderoMapa"
            android:label="Lista de Criaderos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.ListaCriaderoMapa" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUD.Colvol.activityColvol.ListaColvolMapa"
            android:label="Lista de Colaboradores Voluntarios"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.ListaColvolMapa" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sincronizar.SubirDatos"
            android:label="Sincronizar Datos"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CRUD.pesquisaLarvaria.DetalleSemanaActivity"
            android:parentActivityName=".CRUD.pesquisaLarvaria.ListPesquisaActivity">
            <meta-data
                android:name="androd.support.PARENT_ACTIVITY"
                android:value=".CRUD.pesquisaLarvaria.ListPesquisa" />

            <intent-filter>
                <action android:name="android.intent.action.DetalleSemanaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUD.pesquisaLarvaria.EditPesquisaActivity"
            android:label="Editar Captura Anopheles"
            android:parentActivityName=".CRUD.pesquisaLarvaria.ListPesquisaActivity" />
        <activity android:name=".CRUD.seguimientoBotiquin.SeguimientoBotiquinActivity"
            android:label="Seguimiento de Botiquín"
            android:parentActivityName=".CRUD.seguimientoBotiquin.ListSeguimientoBotiquin"/>
        <activity android:name=".CRUD.seguimientoBotiquin.ListSeguimientoBotiquin"
            android:label="Listado de Seguimiento de Botiquin"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CRUD.seguimientoBotiquin.DetalleSeguimientoSemana"
            android:label="Detalle de semana"
            android:parentActivityName=".CRUD.seguimientoBotiquin.ListSeguimientoBotiquin"/>
        <activity android:name=".CRUD.seguimientoBotiquin.EditSeguimiento"
            android:label="Editar Seguimiento de Botiquin"
            android:parentActivityName=".CRUD.seguimientoBotiquin.ListSeguimientoBotiquin"/>
        <activity
            android:name=".CRUD.capturaAnopheles.DetalleCapturaSemanaActivity"
            android:label="Detalle de Semana"
            android:parentActivityName=".CRUD.capturaAnopheles.ListCapturaActivity">
            <meta-data
                android:name="androd.support.PARENT_ACTIVITY"
                android:value=".CRUD.capturaAnopheles.ListCapturaActivity" />

            <intent-filter>
                <action android:name="android.intent.action.DetalleCapturaSemanaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUD.gotaGruesa.activityGotaGruesa.ListGotaGruesaActivity"
            android:label="Gotas Gruesas"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.ListGotaGruesaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUD.gotaGruesa.activityGotaGruesa.nuevaGotaGruesaActivity"
            android:label="Seleccione un colvol"
            android:parentActivityName=".CRUD.gotaGruesa.activityGotaGruesa.ListGotaGruesaActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CRUD.gotaGruesa.activityGotaGruesa.ListGotaGruesaActivity" />

            <intent-filter>
                <action android:name="android.intent.action.nuevaGotaGruesaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MapOfflineActivity" />
        <activity
            android:name=".VerMapsOffline"
            android:label="@string/title_activity_maps2"
            android:screenOrientation="landscape"/>
    </application>

</manifest>